@import "tailwindcss";

:root {
  --background: #0b0b14;
  --surface: #141426;
  --surface-2: #1b1b33;
  --surface-hover: #22223d;

  --primary: #e50914;
  --primary-hover: #b20710;

  --accent: #a855f7;
  --accent-hover: #9333ea;

  --text: #f5f5ff;
  --text-secondary: #b6b6d6;
  --text-muted: #7c7ca1;


  --success: #22c55e;
  --danger: #ef4444;

  --shadow-sm: 1px 1px 4px rgba(255, 255, 255, 0.3);
  --shadow-md: 0 8px 25px rgba(255, 255, 255, 0.4);

}
body {
  min-height: 100vh;
  max-width: 1400px;
  margin: 0 auto;
}

header{
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;

}